@media (prefers-reduced-motion: no-preference) {
     :root {
        scroll-behavior: smooth;
    }
}

@media only screen and (max-width: 1020px) {
    header .container {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 2.5rem;
    }
}